# Slack Tokens for Translate Gem Bot
SLACK_APP_TOKEN="xapp-..."
SLACK_BOT_TOKEN="xoxb-..."

# Anthropic API Key
# 루트 .env 또는 시스템 환경 변수에서 정의 가능
ANTHROPIC_API_KEY="sk-ant-..."

# Notion API Key
NOTION_API_KEY="ntn_..."
